{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-lg-4">
    {% if product.image %}
    <img class="thumbnail" src="{{ product.image.url }}" alt="{{ product.name }}" />
    {% else %}
    <img class="thumbnail" src="{% static 'images/default_image.jpg' %}" alt="Default Image" />
    {% endif %}
    <div class="box-element product"></div>
    <h6><strong>{{ product.name }}</strong></h6>
    <hr />
    <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add btn update-cart">
      Add to cart
    </button>
  </div>
  {% endfor %}
</div>
{% endblock %}
sx